html {
  background-color: black;
  color: green;
  font-family: Lucida Console;
  font-size: 16pt;
}

h1 {
  font-size: 20pt;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: none;
}